body {
  font-family: "Roboto", sans-serif;
  padding: 32px 64px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 44px;
}

.separator {
  height: 1px;
  background-color: #b9b9b9;
  margin: 56px 0;
}

.rating-box {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.rating-stars-container {
  display: inline-flex;
  flex-direction: row;
  align-content: flex-start;
}

.rating-average {
  font-weight: normal;
  margin: 0 24px 0 0;
  display: inline-block;
}

.star {
  width: 32px;
  height: 32px;
  margin: auto 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.review {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  gap: 24px;
}

.review .star {
  width: 24px;
  height: 24px;
}

.review p {
  display: inline-block;
  color: #858585;
}

.review .rating {
  color: #000;
  font-weight: bold;
}

a.star:hover {
  cursor: pointer;
}

.star:first-child {
  margin: auto 2px auto 0;
}

.star:last-child {
  margin: auto 0 auto 2px;
}

.empty-star {
  background-image: url(https://assets.gumroad.com/packs/static/d5f48e84412c59721a05.svg);
}

.half-star {
  background-image: url(https://assets.gumroad.com/packs/static/db5a9ed6e7b577c011a6.svg);
}

.full-star {
  background-image: url(https://assets.gumroad.com/packs/static/5fe92e7d32ec84c399c3.svg);
}

#btn-add-review {
  margin: auto 0 auto auto;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  border-color: #ccc;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #fff;
  color: #787974;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

button:hover {
  cursor: pointer;
  background-color: #eee;
}

button:active {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.grow {
  transition: transform 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.grow:hover {
  transform: scale(1.1);
}

.grow:active {
  transform: scale(.9);
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

@media(min-width: 576px) {
  body {
    max-width: 540px
  }
}

@media(min-width: 768px) {
  body {
    max-width: 720px
  }
}

@media(min-width: 992px) {
  body {
    max-width: 960px
  }
}

@media(min-width: 1200px) {
  body {
    max-width: 1140px
  }
}

@media(min-width: 1440px) {
  body {
    max-width: 1380px
  }
}

@media(min-width: 1200px) {
  body {
    max-width: 960px!important
  }
}

@media(min-width: 1440px) {
  body {
    max-width: 1140px!important
  }
}

@media(max-width: 991.98px) {
  body {
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 0
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

a.overlay {
  cursor: default;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px;
  border-radius: 20px;
  background-color: #fff;
}

.form-container p {
  font-size: 24px;
}

textarea[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background-color: none;
  font-size: 20px;
  padding: 16px 0;
  color: #454545;
  resize: none;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  color: #929292;
  opacity: 1;
}

:-ms-textarea-placeholder {
  color: #929292;
}

::-ms-textarea-placeholder {
  color: #929292;
}

textarea[type=text]:focus {
  outline: none;
  background-color: none;
}